@import url(./generalstyles.css);

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-dark) var(--grey);
}

.leaderboard-container {
  position: absolute;
  top: 20px;
  right: 20px;
  gap: 12px;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  max-height: 900px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.leaderboard-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.designdiv.long-box {
  position: relative;
  --par-width: 330px;
  --par-height: 40px;
  --child-width: 48px;
  --child-height: calc(var(--par-height) * 1.4);
  --child-offset: 12px;
  width: var(--par-width);
  height: var(--par-height);
  transition: all 1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.small-box {
  position: absolute;
  top: calc(var(--par-height) / -4.8);
  left: var(--child-offset);
  background-color: var(--primary-light);
  width: var(--child-width);
  height: var(--child-height);
  color: var(--primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  margin-left: calc(var(--child-offset) + var(--child-width));
  margin-right: var(--child-offset);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  > .driverNameundStripe {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    > span {
      z-index: 1;
    }

    > svg {
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 60%; /*posibly alternating opacitys proportional to position in race*/
    }
  }
  > .time {
    color: var(--grey);
  }
}
