:root {
  --primary-light: #cdcdcd;
  --primary-dark: #1a1a1a;
  --grey: #4d4d4d;
  --outline-main: 3px solid var(--primary-light);
  --font-size-main: 30px;

  .designdiv {
    font-family: "Iceland"; 
    outline: var(--outline-main);
    background-color: var(--primary-dark);
    font-size: var(--font-size-main);
    color: var(--primary-light);
  }
}
